/****************************************:

背景

*****************************************:*/
@use "../global/index" as g;

.c-bgwhite {
  background: rgba(255, 255, 255);
}

.c-bgblack {
  color: var(--base-white);
  background: var(--base-black);
}
