/****************************************:

横線あしらい

*****************************************:*/
@use "../global/index" as g;

.c-vertical-bar {
  position: relative;

  &::before {
    content: "";
    background: var(--main-green);
    width: 2px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0;
  }
}
